[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/nexell-maintainer
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/nexell-maintainer
	label-Verified = -1..+1 group user/nexell-maintainer
	push = group user/nexell-maintainer
	read = group user/nexell-maintainer
	rebase = group user/nexell-maintainer
	removeReviewer = group user/nexell-maintainer
	submit = group user/nexell-maintainer
[access "refs/heads/*"]
	create = group user/nexell-maintainer
	push = +force group user/nexell-maintainer
	pushMerge = group user/nexell-maintainer
	read = group user/nexell-maintainer
[access "refs/tags/*"]
	push = group user/nexell-maintainer
	push = +force group user/nexell-maintainer
